#nav_header {
    background-color:rgb(68,84,106);
    color:rgb(255,255,255);
    padding-top:15px;
    padding-bottom:10px;
}

.dropdown-toggle {
    background:rgb(68,84,106);
    color:white;
}

#dropdownMenu1:hover {
    color:white;
}

#nav_header a {
    color:rgb(255,255,255);
}

#backend-nav a {
    color:rgb(0,0,0);
}

.invalid_user_link {
    color:rgb(255,50,50);
}

.nav_header_txt {
    font-size:18px;
}

.page-btn {
    position:relative;
    top:-2px;
    padding-top:2px;
    padding-bottom:2px;
}