#nav_header {
    background-color:rgb(68,84,106);
    color:rgb(255,255,255);
}

#nav_header a {
    color:rgb(255,255,255);
}

#backend-nav a {
    color:rgb(0,0,0);
}

.invalid_user_link {
    color:rgb(255,50,50);
}
